{% extends 'base.html.twig' %}

{% block title %}Mon panier - La cave aux délices{% endblock %}

{% block content %}
    <!-- Breadcrumb Section Start -->
    <div class="section">
        <div class="breadcrumb-area bg-light">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <h1 class="title">Mon panier</h1>
                    <ul>
                        <li>
                            <a href="/">Accueil </a>
                        </li>
                        <li>
                            <a href="{{ path('products') }}">Produits </a>
                        </li>
                        <li class="active">Mon panier</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Start -->
    <div class="section section-margin">
        <div class="container">
             {% if cart|length >0 %}
            <div class="row">
                <div class="col-12">

                    <!-- Cart Table Start -->
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">

                            <!-- Table Head Start -->
                            <thead>
                            <tr>
                                <th class="pro-thumbnail">Image</th>
                                <th class="pro-title">Produit</th>
                                <th class="pro-price">Prix</th>
                                <th class="pro-quantity">Quantité</th>
                                <th class="pro-subtotal">Total</th>
                                <th class="pro-remove">Supprimer</th>
                            </tr>
                            </thead>
                            <!-- Table Head End -->

                            <!-- Table Body Start -->
                            <tbody>
                            {% set total = null %}
                            {% for product in cart %}
                            <tr>
                                <td class="pro-thumbnail"><a href="#"> <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px"></a></td>
                                <td class="pro-title"><a href="#">{{ product.product.name }}</a></td>
                                <td class="pro-price"><span>{{ (product.product.price /100) | number_format(2, ',', '.') }} €</span></td>

                                <td>
                                    <a href="{{ path('decrease_to_cart', {'id' : product.product.id}) }}">
                                        <i class="fa fa-minus-circle"></i>
                                    </a>
                                    {{ product.quantity }}
                                    {% if product.quantity < product.product.quantity %}
                                    <a href="{{ path('add_to_cart', {'id' : product.product.id}) }}">
                                        <i class="fa fa-plus-circle"></i>
                                    </a>
                                    {% endif %}
                                </td>

                                <td class="pro-subtotal"><span>{{ ((product.product.price * product.quantity) /100) | number_format(2, ',', '.') }} €</span></td>
                                <td class="pro-remove"><a href="{{ path('delete_to_cart', {'id' : product.product.id}) }}"><i class="pe-7s-trash"></i></a></td>
                            </tr>
                                {% set total = total + (product.product.price * product.quantity) %}
                            {% endfor %}
                            </tbody>
                            <!-- Table Body End -->
                        </table>
                    </div>
                    <!-- Cart Table End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 ms-auto col-custom">

                    <!-- Cart Calculation Area Start -->
                    <div class="cart-calculator-wrapper">

                        <!-- Cart Calculate Items Start -->
                        <div class="cart-calculate-items">
                            <h3 class="title">Total de mon panier</h3>

                            <!-- Responsive Table Start -->
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td>Nombre de produit</td>
                                        <td>{{ cart|length }}</td>
                                    </tr>
                                        <tr class="total">
                                        <td>Total</td>
                                        <td class="total-amount">{{ (total / 100)|number_format(2, ',', '.') }}€</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- Responsive Table End -->

                        </div>
                        <!-- Cart Calculate Items End -->

                        <!-- Cart Checktout Button Start -->
                        <a href="{{ path('order') }}" class="btn btn-dark btn-hover-primary rounded-0 w-100">Valider mon panier</a>
                        <!-- Cart Checktout Button End -->

                    </div>
                    <!-- Cart Calculation Area End -->

                </div>
            </div>
             {% else %}
                 <p><b>Votre panier est vide</b></p>
             {% endif %}
        </div>
    </div>
    <!-- Shopping Cart Section End -->



{% endblock %}